---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 110
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
...
